<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Jobs</title>
    <link href="\css\styles.css" rel="stylesheet" type="text/css">
</head>
<body>
   <!-- nav bar -->
    <div class="navbar">
        <div class="navbar-container">
          <div class="app-name">Job Board App</div>
          <div class="nav-links">
            <a href="#">Find Jobs</a>
            <a href="#">Company Reviews</a>
            <a href="#">Post Jobs</a>
          </div>
        </div>
      </div>
      <!-- nav bar -->

      <!-- post job -->
    <div class="container">
        <div>
          <h1>Let's make your next great hiring!</h1>
          <form method="post" action="/create">
            <button type="submit">Post Jobs</button>
          </form>
         </div>
        <div class="image-container">
          <img src="https://www.bizlibrary.com/wp-content/uploads/2019/05/30141657/employeeretention.png" alt="">
          <div class="image-caption">Hire Your Team</div>
        </div>
      </div>

      <!-- post jobs -->
      
      <!-- processs template -->

      <div class="box-container">
        <div class="box">
          <h3>Create Your Free Account</h3>
          <p>Unlock the full potential of JobBoard by creating your free account. Start posting jobs and reaching a wider audience today!</p>
        </div>
        <div class="box">
            <h3>Post Your Job</h3>
            <p>Once you've created an account, easily post your job listing to attract qualified candidates.</p>
        </div>
        <div class="box">
             <h3>Reach Top Talent</h3>
            <p>Your job posting will reach a wide audience, helping you find the perfect candidates for your organization.</p>
        </div>
      </div>
      
      

      <!-- processs template -->


</body>
</html>


