<!-- navbar section -->

<!DOCTYPE html>
<html>
  <head>
    <title>My Home Page</title>
    <link href="\css\styles.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <div class="navbar">
      <div class="navbar-container">
        <div class="app-name">Job Board App</div>
        <div class="nav-links">
          <a href="#">Find Jobs</a>
          <a href="/companyreviews">Company Reviews</a>
          <a href="/create">Post Jobs</a>
        </div>
      </div>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
        rel="stylesheet"
      />
    </div>

    <!-- navbar section  -->

    <!-- middle section -->

    <div class="middle-section">
      <div>
        <h2>Find Your Dream Job</h2>
        <p>
          Find your next career move with our comprehensive job search engine
        </p>
      </div>
      <img
        src="https://img.freepik.com/free-vector/man-search-hiring-job-online-from-laptop_1150-52728.jpg?w=1380&t=st=1688481266~exp=1688481866~hmac=54730fc6bc42216bf73b810458e245fb64bd4952b4d2b0c0486566b868ae593a"
        alt=""
      />

      <!-- middle section -->

      <!-- bottom section -->

      <img
        src="https://img.freepik.com/free-vector/illustration-multitasking-concept_23-2148393334.jpg?w=1060&t=st=1688481002~exp=1688481602~hmac=05fbc32d9b3674f7c1c016be8903703049e500ca1946555ae5404e7cae7bc6de"
        alt=""
      />
      <div>
        <h2>Start Using Jobsearch today</h2>
        <p>
          Find the perfect job for your skillset in organizations that match
          your values
        </p>
      </div>
    </div>

    <!-- bottom section -->

    <!-- search section -->
    <div class="search-container">
      <div class="search-section">
        <img
          src="https://img.freepik.com/free-vector/tiny-people-searching-business-opportunities_74855-19928.jpg?w=1380&t=st=1688481344~exp=1688481944~hmac=39875985017cea71d275881f6382ac99d93f9bcc0e4d8fdd277017422211f03d"
          alt=""
        />
        <form method="post" action="/">
          <label class="search-label" for="what-search">What:</label>
          <input
            name="what"
            class="search-box"
            type="text"
            id="what-search"
            placeholder="Search by job title or keyword"
          />
          <label class="search-label" for="where-search">Where:</label>
          <input
            name="where"
            class="search-box"
            type="text"
            id="where-search"
            placeholder="Search by location"
          />
          <button type="submit" class="find-jobs-btn">Find Jobs</button>
        </form>
      </div>
    </div>

    <!-- search section -->

    <!-- footer section -->

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <h1>Job Board App</h1>
        </div>
        <div class="footer-sidebar">
          <div class="footer-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
          </div>
          <div class="footer-social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <p>Copyright &copy; 2023 All rights reserved</p>
    </footer>

    <!-- footer section -->
  </body>
</html>