<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Review</title>
</head>
<body>
    <div>
        <h1>Find the perfect place for Work</h1>
        <p>Access millions of company reviews</p>
    </div>
    <div>
        <form>
            <label for="company-search">Company name</label>
            <input type="search-box" type="text" placeholder="Search by company name">
            <button type="submit">Find Companies</button>
        </form>
    </div>
</body>
</html>